.cart__container {
	display: grid;
	min-height: 100vh;
	padding: 10px;
	grid-template-columns: 1fr 25%;
	grid-template-areas: "left right";
	background: transparent;
}

.cart__left {
	grid-area: left;
	width: 100%;
	padding: 20px;
	border-right: 1px solid #707070;
}

.cart__right {
	grid-area: right;
	width: 100%;
	height: 100vh;
	padding: 20px;
	font-weight: bold;
}

.right__checkout {
	display: flex;
	height: 30%;
	flex-direction: column;
	justify-content: space-between;
}
.right__checkout .checkoutButton {
	align-content: center;
}

@media screen and (max-width: 767px) {
	.cart__container {
		grid-template-columns: 1fr;
		grid-template-areas:
			"left left"
			"right right";
	}

	.cart__left {
		border: none;
	}
}
