.container {
	display: flex;
	margin: 10px 0;
	border-radius: 25px;
	background: #d6d6d6;
	box-shadow: inset 10px 5px 5px #707070, inset -10px -5px 5px #ffffff;
}

.container__icon {
	font-size: 18pt;
	width: 15%;
	margin-left: 5px;
	text-align: center;
	background: transparent;
}

.container__noIcon {
	width: 3%;
}

.container__input {
	justify-content: flex-start;
	width: 80%;
	height: 100%;
	line-height: 50%;
	margin: 0 15px 0 0;
	border: none;
	outline: none;
	background: transparent;
}

.container textarea {
	margin-top: 15px;
}

.container__textarea {
	justify-content: flex-start;
	width: 80%;
	height: 100%;
	line-height: 120%;
	margin: 0 15px 0 0;
	border: none;
	outline: none;
	background: transparent;
}
