.cartItem {
	display: grid;
	grid-template-rows: max-content;
	align-items: center;
	grid-template-columns: 25% 30% 15% 15% 10%;
	grid-template-areas: "image name price amount delete";
	grid-gap: 20px;
	width: auto;
	padding: 10px;
	border-radius: 15px;
	height: max-content;
	font-weight: bold;
}

.cartItem__image {
	grid-area: image;
	border-radius: 10px;
	box-shadow: 10px 10px 20px #707070, -10px -10px 20px #ffffff;
}

.cartItem__name {
	grid-area: name;
	font-size: 16px;
	width: 10%;
}

.cartItem__price {
	grid-area: price;
	font-size: 15px;
}

.cartItem__amount {
	grid-area: amount;
}

.cartItem__delete {
	grid-area: delete;
	width: 30px;
	height: 30px;
}

@media screen and (width: 1024px) {
	.cartItem {
		grid-template-columns: 20% 25% 15% 20% 10%;
	}
}

@media screen and (width: 768px) {
	.cartItem {
		grid-template-columns: 15% 20% 15% 25% 10%;
	}
}

@media screen and (max-width: 767px) {
	.cartItem {
		margin: 20px 0;
		padding: 0;
		grid-template-rows: min-content;
		grid-template-columns: 150px 30% 20% 15% 10%;
		grid-template-areas:
			"image name name"
			"image price price"
			"image amount delete";
	}
	.cartItem__image {
		height: 150px;
		width: 150px;
		margin: 10px 10px 10px 0;
	}

	.cartItem__name {
		font-size: 10px;
	}

	.cartItem__price {
		font-size: 10px;
	}
}

@media screen and (width: 320px) {
	.cartItem {
		grid-template-rows: min-content;
		grid-template-columns: 120px 1fr;
		grid-template-areas:
			"image name name"
			"image price price"
			"image amount delete";
	}
	.cartItem__image {
		width: 120px;
		height: 150px;
		margin: 10px 10px 10px 0;
	}
}
