.container {
	display: flex;
	width: 80%;
	height: 50px;
	justify-content: flex-start;
	margin-left: 10%;
	align-items: center;
	font-weight: bold;
	cursor: pointer;
}

.container__checkbox {
	display: flex;
	width: 30px;
	height: 30px;
	margin: 10px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	text-align: center;
	line-height: 30px;
	font-size: 24pt;
	color: #070707;
	background: #bebebe;
	box-shadow: 5px 5px 10px #707070, -5px -5px 10px #ffffff;
}

.container__checkbox.check .container__checkbox__tick {
	display: block;
}

.container__checkbox .container__checkbox__tick {
	display: none;
	width: 24px;
	height: 24px;
	border-radius: 8px;
	background: #707070;
}

.container:hover > .container__checkbox {
	background: #adadad;
}
