.container {
	display: flex;
}
.container__decrease {
	width: 100%;
	height: 100%;
}

.container__number {
	margin: auto 12px;
	width: 20px;
	font-weight: bold;
	font-size: large;
	background: transparent;
	outline: none;
}

.container__increase {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 767px) {
	.container__number {
		font-size: normal;
	}
}
