.main {
	grid-area: main;
	display: grid;
	grid-gap: 5px;
	min-height: 100vh;
	padding-right: 7px;
	overflow: hidden;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: auto;
}
