.header {
	grid-area: header;
	display: none;
}

.footer {
	grid-area: footer;
}

.container {
	display: grid;
	width: 100%;
	grid-template-columns: auto 1fr;
	grid-auto-rows: minmax(min-content, max-content);
	grid-template-areas:
		"sidebar main"
		"footer footer";
}

@media screen and (max-width: 767px) {
	.header {
		display: block;
	}

	.content {
		width: 100%;
		background-color: orange;
	}

	.container {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-areas:
			"header header"
			"sidebar main"
			"footer footer";
	}
}
